{% extends "base" %}
{% block title %}Index{% endblock title %}
{% block content %}
<h1>Index</h1>
<p class="important">
    Welcome to my awesome homepage.
</p>
<p>
    Shit, fuck, {{name}}
</p>
{% endblock content %}
